@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.woocommerce-page {

	// Forms and Inputs
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	select,
	textarea {
		@extend .form-control;
	}

	// Buttons
	.button,
	.submit,
	input[type="button"],
	input[type="submit"] {
		@extend .btn, .btn-primary;
	}

	// Alerts & Messages
	.woocommerce-message {
		@extend .alert, .alert-success;
		margin-left: 15px;
		margin-right: 15px;
		clear: both;
		.button {
			float: right;
		}
	}
	.woocommerce-error {
		@extend .alert, .alert-danger;
		margin-left: 15px;
		margin-right: 15px;
		list-style-type: none;
		clear: both;
	}

	// Breadcrumb
	.woocommerce-breadcrumb {
		@extend .breadcrumb;
	}

	// Tables
	table {
		@extend .table;
	}

	// Review Stars
	.stars {
		a {
			@extend .glyphicon, .glyphicon-star;
		}
	}

	// Sidebar
	#sidebar {
		@extend .col-sm-3, .col-sm-pull-9;
		ul {
			padding: 0;
			list-style-type: none;
		}
	}

	// Cart
	&.woocommerce-cart {
		.woocommerce {
			@extend .row;
			form {
				@extend .col-xs-12;
				.actions {
					.coupon {
						@extend .col-sm-6;
					}
				}
			}
			.cart-collaterals {
				@extend .col-sm-4, .col-sm-push-8;
			}
		}
	}

	#container {
		@extend .col-sm-9, .col-sm-push-3;
		#content {

			.page-title {
				@extend .col-sm-12;
			}

			// Single Product View
			div.product {
				// First Section of Single Product
				.entry-summary {
					@extend .col-sm-8;
					.product_title {
						margin-top: 0;
					}
				}
				.images {
					@extend .col-sm-4;
				}

				// Second Section of Single Product
				.woocommerce-tabs {
					@extend .col-sm-12;
					.wc-tabs {
						list-style-type: none; // Removes Bullets
						padding: 0; // Removes default bootstrap padding on lists
						li {
							display: inline-block; // Display as tabbed
						}
					}
				}
			}

			// Archive Product List
			ul.products {
				padding: 0; // Removes default bootstrap padding on lists
				list-style-type: none; // Removes Bullets
				li.product {
					@extend .col-sm-3; // Product List Column Width
					img {
						@extend .img-responsive; // Make Images Responsive
					}
				}
			}
		}
	}

	// Swap the sidebar on single view
	&.sidebar-swap {
		#sidebar {
			@extend .col-sm-pull-0;
		}
		#container {
			@extend .col-sm-push-0;
		}
	}
}
